<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>EasyLib - Welcome</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/styles.css" rel="stylesheet" />
    <!-- Auth theme CSS-->
    <link href="~/css/account.css" rel="stylesheet" />
</head>
<body id="page-top" class="auth-body d-flex flex-column justify-content-center align-items-center min-vh-100">
<main class="d-flex align-items-center min-vh-100 py-3 py-md-0 col-12">
    <div class="container col-7">
        <div class="card auth-card">
            <div class="row g-0">
                <div class="col-md-5 overflow-hidden">
                    <img class="auth-card-img" src="~/assets/img/login-img.jpg" alt="auth" />
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <div class="mb-3">
                            <img class="logo" src="~/assets/img/navbar-logo.svg" alt="EasyLib"/>
                        </div>
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>


@section Scripts {
	@await RenderSectionAsync("Scripts", required: false)
}
