@{
    ViewData["Title"] = "Login";
    Layout = "_AuthLayout";
}
@model Application.Pocos.LoginPoco

<p class="auth-card-description">Log into your account</p>
<div class="form-center">
    <form id="loginForm" method="POST" asp-controller="Account" asp-action="Login" class="d-flex flex-column align-items-center">
        <div class="w-75">
            <div class="form-floating mb-3">
                <input if="email" class="form-control" asp-for="Email" placeholder="Email"/>
                <label for="email">Email address</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input id="password" class="form-control" asp-for="Password" placeholder="Password"/>
                <label for="password">Password</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="button-center">
                <button type="submit" class="btn btn-block register-btn mb-4 text-white">Login</button>
            </div>
        </div>
    </form>
</div>
<p class="auth-card-footer-text">Don't have an account? <a href="Register" class="text-reset">Register here</a></p>
<nav class="auth-card-footer-nav pb-4">
    <a href="#!">Terms of use.</a>
    <a href="#!">Privacy policy</a>
</nav>