@{
    ViewData["Title"] = "Register";
    Layout = "_AuthLayout";
}
@model Application.Pocos.RegisterPoco

<p class="auth-card-description">Create an Account</p>
<div class="form-center">
    <form id="registerForm" method="POST" action="/Account/Register">
        <div class="d-flex flex-row">
            <div class="d-flex flex-column">
                <div class="form-group">
                    <input class="form-control" asp-for="FirstName" placeholder="First Name *" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input class="form-control" asp-for="Email" placeholder="Your Email *" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="d-flex flex-column">
                <div class="form-group">
                    <input class="form-control" asp-for="LastName" placeholder="Last Name *" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input class="form-control" asp-for="PostalCode" placeholder="Postal Code *" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column">
            <div class="form-group">
                <input class="form-control" asp-for="Address1" placeholder="Address Line *" />
                <span asp-validation-for="Address1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="form-control" asp-for="Address2" placeholder="Address Line 2 (Optional)" />
            </div>
        </div>
        <div class="d-flex flex-column mb-4">
            <div class="form-group">
                <input class="form-control" asp-for="Password" placeholder="Your Password *" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="form-control" asp-for="ConfirmPassword" placeholder="Confirm Password *" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="button-center">
            <button type="submit" id="register-button" class="btn btn-block register-btn mb-4 text-white">Register</button>
        </div>
    </form>
</div>
<p class="login-card-footer-text">Already have an account? <a href="Login" class="text-reset">Login here</a></p>
<nav class="login-card-footer-nav">
    <a href="#!">Terms of use.</a>
    <a href="#!">Privacy policy</a>
</nav>